h2.title {
    text-align: center;
    margin: 45px 0 35px 0;
}

.profile_ReviewResponse {
    margin-left: 29px;
}

#hdivProfileForm_ImageGallerySlider.flexslider .slides img #hdivProfileForm_VideoGallerySlider.flexslider .slides img {
    height: 360px;
    width: 640px;
}

#hdivProfileForm_ImageGalleryCarousel.flexslider .slides img #hdivProfileForm_VideoGalleryCarousel.flexslider .slides img {
    height: 90px;
}

.profile-section label {
    font-weight: bold;
}

/*Video gallery carousel */
.video-thumbnail-embed .glyphicon {
    color: #fff !important;
    font-size: 2.3em !important;
    top: 45% !important;
    left: 45% !important;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 4px !important;
    padding: 11px 21px;
    position: absolute;
}

@media (max-width:480px){
    .video-thumbnail-embed .glyphicon {
        top:40%!important;
        left:40%!important;
    }
}

    .video-thumbnail-embed .glyphicon:hover {
        background-color: #0d87e9;
        border: 1px solid #0d87e9;
    }

/*video end*/
#audioFiles div.dataTables_wrapper div.dataTables_filter,
#songList div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

#ulProfile_VideoCarouselSlides li img {
    max-height: 84.68px;
}


.profile_EventDetailsStaticForm .form-control-static,
.profile_ContactInformation .form-control-static {
    text-align: left;
}

.anchor {
    display: block;
    position: relative;
    height: 123px;
    margin-top: -123px;
    visibility: hidden;
}

@media (max-width:768px) {
    .anchor {
        height: 64px;
        margin-top: -64px;
    }

    .profile_ContactInformation .form-control-static {
        text-align: center;
    }
}

@media (max-width:767px) {
    .profile_EventDetailsStaticForm .form-control-static,
    .profile_EventDetailsStaticForm label {
        text-align: center;
        width: 100%;
    }
}

.profile_ReviewOvelay {
    max-height: 529px;
    position: relative;
    overflow: hidden;
}

.glyphicon.glyphicon-play:hover {
    cursor: pointer;
}

#hdivProfile_ReviewsContainer.profile_ReviewOvelay:after {
    content: "";
    position: absolute;
    z-index: 10;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
    width: 100%;
    height: 59px;
    left: 0;
    bottom: 0;
}

.dataTable_CustomHeight {
    min-height: 400px;
}



/* override tabs behavior - start */

.nav-tabs > li[role='presentation'] {
    border: 1px solid lightgrey;
}

.nav-tabs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 46px;
    margin-bottom: -1px;
}

    .nav-tabs > li {
        float: none;
        display: inline-block;
    }

/* override tabs behavior - end */


.averageRating:before {
    content: "\2605";
    position: absolute;
}

#hdivProfileForm_ImageGallerySlider {
    height:0;
    padding-bottom:60%;
    overflow:hidden;
    border:1px solid transparent; 
    margin-bottom:13px;
}
.flexslider { 
    border:1px solid transparent; 
}

.flex-direction-nav a {
    margin:-31px 0 0!important;
}

ul#ulProfileForm_CarouselSlides li {
	max-height: 86px;
}

@media only screen and (max-width:374px) {
    .flex-direction-nav a {
        margin:-31px 6px 0!important;
    }
}

.form-horizontal.profile_ContactInformation {
	font-size: 14px;
}
.form-horizontal.profile_ContactInformation .form-group {
    margin-bottom:0;
}

.profile_ProfileActionButtons .btn-tile {
    display:block;
    max-width:230px;   
    margin:0 auto;
    margin-bottom:6px;
}

.footer-social-icons {
    margin-top:79px;
}

#hypProfile_ReportInappropriateCotent {
    clear: both;
    display: block;
    margin-top: 60px;
    margin-right: 13px;
}

#bioInformation,
#otherServices {
	overflow: hidden;
	overflow-y: auto;
}